:root{
    --primario:#E5E5E5;
    --titulos:#5D04D9;
    --botones:#C004D9;
    --oscuro:#000000;
    --banco:#FFFFFF;
}

.sub-titulos{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 40px;
    margin-bottom: 40px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

input{
    width: 320px;
    padding: 15px;
    border: solid #03318C;
    border-radius: 30px;
}

.botones{
    margin: 50px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.btn{
    width: 130px;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}


.enviar{
    background-color: var(--botones);
    color: var(--banco);
}

@media (min-width: 1036px) {
    form{
        position: relative;
        width: 50%;
        left: 700px;
    }
    .productos-1{
        position: relative;
        width: 50%;
        left: 700px;
    }
    .botones{
        position: relative;
        width: 50%;
        left: 650px;
    }
}