@import url(reset.css);
@import url(header.css);
@import url(formulario.css);
@import url(productos.css);
@import url(footer.css);

:root{
    --primario:#E5E5E5;
    --titulos:#5D04D9;
    --botones:#C004D9;
    --oscuro:#000000;
    --banco:#FFFFFF;
}

/* GLOBALES */
html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

body{
    background-color: var(--primario);
    font-family: "Barlow", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 50px;
}


h1, h2, h3{
    font-family: "jaro",sans-serif;
}
